.{
  margin: 0;
  padding: 0;
}

body{
  width:40%;
  margin: 0 auto 0 auto;
  background-image: url("lib/background.jpg")
}

#top{
  display:flex;
  justify-content: center;
  align-items: center;
}

.pricing-heading{
  text-align: center;
  font-family: 'Bree Serif', serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 1rem 0 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bba8ed;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #bba8ed;
}

input:focus + .slider {
  box-shadow: 0 0 1px #bba8ed;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.time-heading{
  font-family: 'Source Serif Pro', serif;
}

/*end top section */
/* Plan boxes */

#plans{
  display:flex;
  justify-content:space-evenly;
}

.plan-box{
  text-align:center;
  border: solid 1px;
  padding:5rem;
  background-color: #fafafa;
  width:50%;
  margin: 0 0.5rem 0 0.5rem;
}

.plan-heading, .pricing, #learn-button{
  font-family: 'Source Serif Pro', serif;
}

.plan-info{
  border-top-style: solid 1px;
  border-bottom-style:solid 1px;
  font-family: 'Source Serif Pro', serif;
  font-size:0.9rem;
}

#learn-button{
  background-color:white;
  color:#ddbfff;
  border-radius: 5%;
  padding:0.5rem;
}

#learn-button:hover{
  background-color:#8a8a8a;
  color:black;
  cursor:pointer;
}